.App {
    background-size: 100% 100%;
    background-image: url("../public/jammy-jellyfish-wallpaper.png");
    background-repeat: no-repeat;
}
.main {
    display: flex;
    height: 100%;
    width: 100%;
}