.office-header {
    background-color: black;
    font-size: 90%;
    height: 30px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.left-office-header {
    display: flex;
    margin-left: 20px;
    width: 40%;
    height: 100%;
    align-items: center;
}
.terminal-logo-office-header {
    height: 18px;
    width: 18px;
    margin-right: 6px;
}
.activity-office-header {
    margin-right: 5%;
}
.center-office-header {
    display: flex;
    justify-content: center;
    width: 20%;
    height: 100%;
    align-items: center;
}
.date-office-header {
    margin-right: 10px;
}
.right-office-header {
    display: flex;
    margin-right: 20px;
    width: 40%;
    justify-content: right;
    height: 100%;
    align-items: center;
}
.right-office-header > img {
    height: 18px;
    width: 18px;
}
.sound-office-header {
    margin-left: 15px;
}
.batterie-office-header {
    margin-left: 10px;
}